*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    /* color: #fff; */
    cursor: pointer;
}
body,html{
    height: 100%;
    width: 100%;
    min-width: 540px;
}
li,ol,ul,i,em{
    list-style: none;
    font-style:normal;
}